bin/Debug/net8.0/F#_Learning_Projects.deps.json
bin/Debug/net8.0/F#_Learning_Projects.dll
bin/Debug/net8.0/F#_Learning_Projects.exe
bin/Debug/net8.0/F#_Learning_Projects.pdb
bin/Debug/net8.0/F#_Learning_Projects.runtimeconfig.json
bin/Debug/net8.0/FSharp.Core.dll
bin/Debug/net8.0/cs/FSharp.Core.resources.dll
bin/Debug/net8.0/de/FSharp.Core.resources.dll
bin/Debug/net8.0/es/FSharp.Core.resources.dll
bin/Debug/net8.0/fr/FSharp.Core.resources.dll
bin/Debug/net8.0/it/FSharp.Core.resources.dll
bin/Debug/net8.0/ja/FSharp.Core.resources.dll
bin/Debug/net8.0/ko/FSharp.Core.resources.dll
bin/Debug/net8.0/pl/FSharp.Core.resources.dll
bin/Debug/net8.0/pt-BR/FSharp.Core.resources.dll
bin/Debug/net8.0/ru/FSharp.Core.resources.dll
bin/Debug/net8.0/tr/FSharp.Core.resources.dll
bin/Debug/net8.0/zh-Hans/FSharp.Core.resources.dll
bin/Debug/net8.0/zh-Hant/FSharp.Core.resources.dll
obj/F#_Learning_Projects.fsproj.nuget.dgspec.json
obj/F#_Learning_Projects.fsproj.nuget.g.props
obj/F#_Learning_Projects.fsproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/F#_Learn.40E5C1C7.Up2Date
obj/Debug/net8.0/F#_Learning_Projects.AssemblyInfo.fs
obj/Debug/net8.0/F#_Learning_Projects.AssemblyInfoInputs.cache
obj/Debug/net8.0/F#_Learning_Projects.assets.cache
obj/Debug/net8.0/F#_Learning_Projects.dll
obj/Debug/net8.0/F#_Learning_Projects.fsproj.AssemblyReference.cache
obj/Debug/net8.0/F#_Learning_Projects.fsproj.CoreCompileInputs.cache
obj/Debug/net8.0/F#_Learning_Projects.fsproj.FileListAbsolute.txt
obj/Debug/net8.0/F#_Learning_Projects.genruntimeconfig.cache
obj/Debug/net8.0/F#_Learning_Projects.pdb
obj/Debug/net8.0/ref/F#_Learning_Projects.dll
obj/Debug/net8.0/refint/F#_Learning_Projects.dll
.vs/F#_Learning_Projects/v17/.futdcache.v2
.vs/F#_Learning_Projects/v17/.suo
.vs/F#_Learning_Projects/v17/DocumentLayout.backup.json
.vs/F#_Learning_Projects/v17/DocumentLayout.json
.vs/F#_Learning_Projects/FileContentIndex/3d7eb64c-1bc3-4e28-a16f-3a021b08f282.vsidx
.vs/F#_Learning_Projects/FileContentIndex/3fbe79f1-4ff8-4a6f-9e13-a8838c6e57c3.vsidx
.vs/F#_Learning_Projects/FileContentIndex/60b4a196-3dde-42ed-9df5-a3df060c4c40.vsidx
.vs/F#_Learning_Projects/FileContentIndex/18631117-c939-4576-b87e-7e9cbe84edd7.vsidx
.vs/F#_Learning_Projects/FileContentIndex/f5148794-606d-4621-ac50-33ea43cba673.vsidx
.vs/F#_Learning_Projects/DesignTimeBuild/.dtbcache.v2
F#_Learning_Projects.fsproj
F#_Learning_Projects.sln
